/* IMPORT MIXINS and OTHER CONFIG FILES */
/* MAIN VARIABLES */
/* MIXINS */
/* SET TEXT COLOR */
/* MEDIA QUERY MIXINS */
.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.2s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: whitesmoke;
    transition: all 0.2s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-image, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    margin: 0;
    padding: 0;
    background: #3f3f3f;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 0.2s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-image {
    background: #494949;
    transform: translate3d(0, 100%, 0);
    transition: all 0.2s ease-out; }
    .menu-image.show {
      transform: translate3d(0, 0, 0); }
    .menu-image .portrait {
      width: 250px;
      height: 250px;
      background: url(../img/profile.jpg);
      background-size: cover;
      border-radius: 50%;
      border: solid 3px #ba875c; }
  .menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 0.2s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: #ba875c;
      font-weight: bold; }
    .menu .nav-item > a:hover {
      transform: scale(1.2);
      color: #ba875c;
      transition: all 0.2s ease-out; }
    .menu .nav-item .nav-link {
      display: inline-block;
      position: relative;
      font-size: 30px;
      text-transform: uppercase;
      padding: 1rem 0;
      font-weight: 400;
      color: whitesmoke;
      text-decoration: none;
      transition: all 0.2s ease-out; }

.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
  transition-delay: 0.4s; }

/* BOX SIZING */
* {
  box-sizing: border-box; }

body {
  background: #444;
  color: whitesmoke;
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5; }
  body#bg-img {
    background: url(../img/bg.jpg);
    background-attachment: fixed;
    background-size: cover; }
    body#bg-img::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba(68, 68, 68, 0.75); }
  body#bg-img-about {
    background: #7c442a; }

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    font-size: 6rem; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(73, 73, 73, 0.5); }
    h1.sm-heading.other,
    h2.sm-heading.other,
    h3.sm-heading.other {
      background: rgba(161, 54, 5, 0.4); }

.text-secondary {
  color: #ba875c; }

a {
  color: whitesmoke;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

main {
  padding: 4rem;
  min-height: calc(100vh - 60px); }
  main .icons {
    margin-top: 1rem; }
    main .icons a {
      padding: 0.4rem; }
      main .icons a:hover {
        color: #ba875c;
        transition: all 0.2s ease-out; }
  main#home {
    overflow: hidden; }
    main#home h1 {
      margin-top: 20vh; }

/* GRID LAYOUT MAPPINGS */
.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: "bioimage bio bio" "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr); }
  .about-info .bio-image {
    grid-area: bioimage;
    width: 250px;
    height: 250px;
    margin: auto;
    border-radius: 50%;
    border: #ba875c 3px solid; }
  .about-info .bio {
    grid-area: bio;
    font-size: 1.5rem; }
    .about-info .bio .text-secondary {
      font-weight: bold; }
  .about-info .job-1 {
    grid-area: job1; }
  .about-info .job-2 {
    grid-area: job2; }
  .about-info .job-3 {
    grid-area: job3; }
  .about-info .job {
    text-align: center;
    border-bottom: #ba875c 5px solid;
    padding: 0.5rem;
    background: rgba(161, 54, 5, 0.8);
    font-size: 1.1rem; }
    .about-info .job > h3 {
      color: #c9a180;
      font-weight: bold; }

/* PROJECTS GRID PROPERTIES */
.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr); }
  .projects img {
    width: 100%;
    height: 200px;
    border: 3px solid whitesmoke; }
    .projects img:hover {
      opacity: 0.5;
      border-color: #ba875c;
      transition: all 0.2s ease-out; }

/* CONTACT PAGE PROPERTIES */
.boxes {
  display: grid;
  grid-template-areas: "box-email box-number";
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px; }
  .boxes .box-email-area {
    grid-area: box-email; }
  .boxes .box-number-area {
    grid-area: box-number; }
  .boxes .box {
    text-align: center;
    border-bottom: #ba875c 5px solid;
    padding: 0;
    margin: 0;
    background: rgba(161, 54, 5, 0.8);
    font-size: 1.1rem; }
    .boxes .box > span {
      color: #c9a180;
      font-weight: bold;
      font-size: 1.5rem; }
    .boxes .box.box-email .contacts, .boxes .box.box-number .contacts {
      list-style: none;
      font-size: 1.4rem;
      margin: 0;
      padding: 1rem; }
      .boxes .box.box-email .contacts .list-container, .boxes .box.box-number .contacts .list-container {
        position: relative;
        cursor: pointer; }
        .boxes .box.box-email .contacts .list-container > li, .boxes .box.box-number .contacts .list-container > li {
          padding: 1rem 0; }
        .boxes .box.box-email .contacts .list-container .list-overlay, .boxes .box.box-number .contacts .list-container .list-overlay {
          position: absolute;
          top: 0;
          left: 0;
          background: #ba875c;
          height: 100%;
          width: 0;
          overflow: hidden; }
          .boxes .box.box-email .contacts .list-container .list-overlay.selected, .boxes .box.box-number .contacts .list-container .list-overlay.selected {
            background: #ba875c;
            width: 100%;
            content: "Copied"; }
          .boxes .box.box-email .contacts .list-container .list-overlay .list-text, .boxes .box.box-number .contacts .list-container .list-overlay .list-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            white-space: nowrap; }
        .boxes .box.box-email .contacts .list-container:hover .list-overlay, .boxes .box.box-number .contacts .list-container:hover .list-overlay {
          transition: all 0.2s ease-out; }

/* PROJECT BUTTON STYLES */
.btn-git {
  display: block;
  background: rgba(86, 47, 29, 0.8);
  color: whitesmoke;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem; }
  .btn-git .project-name {
    margin-left: 5px; }
  .btn-git:hover {
    background: #ba875c; }

/* .btn-github{
  @extend .btn
} */
/* FOOTER PROPERTIES */
#main-footer {
  text-align: center;
  padding: 1rem;
  background: rgba(86, 47, 29, 0.8);
  color: whitesmoke;
  height: 60px; }

/* IMPORT MOBILE SCSS FOR RESPONSIVENESS */
/* MOBILE CONFIGS */
@media screen and (min-width: 1171px) {
  .projects {
    grid-template-columns: repeat(4, 1fr); } }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .projects {
    grid-template-columns: repeat(3, 1fr); } }

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 1rem; }
  ul.menu-nav,
  div.menu-image {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show,
    div.menu-image.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px; }
  .menu-image {
    height: 25vh;
    transform: translate3d(100%, 0, 0); }
    .menu-image .portrait {
      width: 150px;
      height: 150px; }
  .about-info {
    grid-template-areas: "bioimage" "bio" "job1" "job2" "job3";
    grid-template-columns: 1fr; }
  .projects {
    grid-template-columns: repeat(2, 1fr); }
  .boxes {
    grid-template-areas: "box-email" "box-number";
    grid-template-columns: 1fr; }
  h1 {
    font-size: 4, 5rem; } }

@media screen and (max-width: 500px) {
  main#home h1 {
    margin-top: 10vh; }
  .projects {
    grid-template-columns: 1fr; } }
